Repository validatorjs/validator.js, pull requests merged in 2023-03, with the labels that each got.

#2197 fix(isMobilePhone): fixed es-CU matching all numbers that start with 5 longer than 8 digits
  src/lib/isMobilePhone.js
  test/validators.test.js
Labels: 🎉 first-pr

#2209 feat(isMobilePhone): Added regex for Wallis and Futuna fr-WF
  README.md
  src/lib/isMobilePhone.js
  test/validators.test.js
Labels: 🎉 first-pr, ✅ LGTM

#2189 new validator: isLocale, add support for validation of more valid language tags
  src/lib/isLocale.js
  test/validators.test.js
Labels: needs-more-review, 🎉 first-pr, ✅ LGTM, 🔥 new validator

#2188 new validator: isMailtoURI, validate the mailto link URI format
  README.md
  src/index.js
  src/lib/isMailtoURI.js
  test/validators.test.js
Labels: 🎉 first-pr, 🔥 new validator
